body {
    overflow-x: clip;
}

.gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
header {
    font-family: "Gilda Display";

}

.find, .why-choose-us, .tray, .traytwo {
    font-family: "Urbanist";
}

.travel-last{
    color: #25A59E;
}
.travellast{
    color: #25A59E;
}

.world{
    margin-left: 50px;
}

nav {
    display: flex;
    gap: 90%;
}
.menu {
    width: 50%;
    height: 50%;
    margin-top: 19px;
    margin-left: -40px;
}
.trv {
    color: #25A59E;
}
.travelaround {
        margin-bottom: -70px;
        margin-left: 30px;
}
.blurry{
    position: absolute;
    width: 90%;
}
.Ellipse{
    position: relative;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-left: 1px;
    width: 100%;
}
.couple{
    margin-top: -259px;
    position: absolute;
    width: 100%;
    margin-left: -10px;
}
.destination {
    margin-top: -60px;
}
.indonasia{
    margin-top: -20px;
    margin-left: 45px;
    margin-bottom: 30px;
    
}
.ballons {    
    margin-top: -20px ;
    margin-left: 25px;
    margin-bottom:  30px; 
    
}
.RhineFall {
    margin-left: 15px;
    transform: rotate(180deg);
    width: 95%;
}
.Rhine.Fall{
    margin-top:-20px ;
    margin-left: 20px;
    margin-bottom: 30px;

}

.Sunter-Lake {
    transform: rotate(180deg);
    margin-left: 18px;
    width: 95%;
}
.bluesea {
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 45px;
    
}
.falls  {
    margin-bottom: 30px;

}
.falls{
    margin-top: -20px;
    margin-left: 45px;
    margin-top: 30px;
    
}
.smoky {
    margin-top: -20px;
    margin-left: 25px;
    
}
.bluelake {
    margin-top: -20px;
    margin-left: 45px;
    margin-bottom: 30px;

}
.Hot-air-ballon {
    margin-left: -9px;
    transform: rotate(180deg);
    width: 105%;
}
.Oeschinec.lake {
    margin-left: 20px;
    transform: rotate(180deg);
    width: 95%;
}
.find-your-destination {
    margin-left: 25px;
    width: 90%;
}
.Negeri-di-atas-Awan {
    transform: rotate(180deg); 
    margin-bottom: -10px;
    margin-left: -10px; 
    width: 104%; 
}
.help{
    font-size: 25px;
    text-align: center;

}
.para{
    font-size: 20px;
    margin-top: -15px;
    margin-left: 20px;
}
.pass{
    font-size:20px ;
}
.detailstwo{
    margin-left:155px ;
}
 .more-details{
    margin-left:150px  ;
}
.detailsthree {
    margin-left: -3px;
}
.trip{
    font-size:25px ;
    text-align:center ;
}
.click{
    font-size: 20px;
}
.clicks{
    font-size: 20px;
}
.experiance{
    border: 5px solid #f2f2f2;
    padding-left: 5px;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 15px;
}
.twenty-two {
    border: 5px solid #f2f2f2;
    padding-left: 5px;
    background-color: white;
    margin-left: 5px;
}
.always {
    background-color: #25A59E;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    margin-left: 5px;
    margin-bottom: 15px;
}
.memorable {
    margin-left: 22px;
    font-size: 40px;
}
.homepage {
    display: flex;
        gap: 20px;
        margin-left: 20px;
}
.icons {
    display: flex;

}
.yout {
    margin-left: -20px;
}
.insta {
    margin-right: -70px;
    margin-left: 50px;
}

.clickhere {
    text-align: left;
    border: 3px solid #25A59E;
    width: fit-content;
    padding: 10px;
    background-color: #25A59E;
    color: white;
}
.service{
    margin-left: 20px;
    font-size: 20px;
}
.guide{
    margin-left: 10px;
}
.Lake{
    margin-left: 20px;
}
.location {
    margin-left: 20px;
}
.locationfalls{
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: -50px;
}
.listop {
    background-color: #25A59E;
    height: 5px;
    border: #25A59E;
    margin-left: 5px;
    
}
.travel-last {
    color: #25A59E;
}
.locationsun{
    margin-left: 20px;
}
.memb{
    color: #25A59E;
}
.stands{
    position: relative; 
    margin-left: 40px;
    margin-top: 80px;
    margin-bottom: -20px;
}
.love{
    
    position: relative;
    margin-top: -250px;
}
.locationsea{
    margin-left: 20px;
}
.Oeschinec.Lake{
    margin-left: 20px;
}
.Sunter.Lake{
    margin-right: 20px;
}
.ake{
    margin-left: 20px;
}
video{
    width: 100%;
}
.shaping {
    margin-left: -30px;
}